body {
    background-color: rgb(141, 191, 141);
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3rem;
}

div.header {
    background-color: lightgrey;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    height: 200px
}

img.profilePic#headerPic {
    border-radius: 50%;
    height: 200px;
    float: left;
}

div.headerText {
    position: relative;
    left: 2%;
    top: 0%;
    padding: 0;
}

div.cardA {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

div.cardA#featuredProjects {
    height: 1000px;
}